.search-results-container {
    display: flex;
    position: relative;
    margin: auto;
}
#results {
    flex: 1;
    margin-right: 20px;
}
#image-container {
    flex: 1;
}
#image-container img {
    display: in;
    max-width: 100%;
    margin-bottom: 10px;
}


* {box-sizing:border-box}

.titleHero{
  display: flex;
  justify-content: space-between;
}





#cloudBNB{
  position: relative ;
  color: teal;
  font-size: 50px;
  font-weight: bolder;
}
#subHead{
  position: relative;
  top: -45px;
  font-size: 30px;
}
.hero-body{
  padding-bottom: 0px;
  padding-top: 30px;
}




