#resultsContainer {
    display: flex;
    align-items: center;
    justify-content: center
}
.results {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}


.image {
  max-width: 25%;
  max-height:15%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-size: 20px;
  padding-left: 20px;
  float: left;
}

.text h2 {
  font-size: 30px;
  font-weight: bold;
}


* {box-sizing:border-box}

.titleHero{
  display: flex;
  justify-content: space-between;
}





#cloudBNB{
  position: relative ;
  color: teal;
  font-size: 50px;
  font-weight: bolder;
}
#subHead{
  position: relative;
  top: -45px;
  font-size: 30px;
}
.hero-body{
  padding-bottom: 0px;
  padding-top: 30px;
}




